{% extends "layout.html" %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">



{% endblock %}


{% block content %}

<section>

    <div>
      <h2>About <span>Us</span></h2>
      <div class="rows">
        <div>
          <img id="photos" src="{{ url_for('static', filename='assets/children.jpeg') }}">


        </div>


        <div class="content">
          Give & Read is an online platform designed to make NCERT books accessible to students who need them while
          reducing
          book waste. Many students struggle to afford new books every year, while others have old textbooks sitting
          unused
          at
          home. Give & Read bridges this gap by providing a space where people can donate, sell, or exchange their NCERT
          books. By giving these books a second life, we not only help students save money but also contribute to a more
          sustainable and eco-friendly way of learning.
        </div>
      </div>

      <div class="rows">
        <div class="content">
          Give & Read is an online platform designed to make NCERT books accessible to students who need them while
          reducing
          book waste. Many students struggle to afford new books every year, while others have old textbooks sitting
          unused
          at
          home. Give & Read bridges this gap by providing a space where people can donate, sell, or exchange their NCERT
          books. By giving these books a second life, we not only help students save money but also contribute to a more
          sustainable and eco-friendly way of learning.
        </div>
        <div>
          <img id="photos" src="{{ url_for('static', filename='assets/children.jpeg') }}">
        </div>
      </div>

      <div class="rows">
        <div>
          <img id="photos" src="{{ url_for('static', filename='assets/children.jpeg') }}">
        </div>

        <div class="content">
          Give & Read is an online platform designed to make NCERT books accessible to students who need them while
          reducing
          book waste. Many students struggle to afford new books every year, while others have old textbooks sitting
          unused
          at
          home. Give & Read bridges this gap by providing a space where people can donate, sell, or exchange their NCERT
          books. By giving these books a second life, we not only help students save money but also contribute to a more
          sustainable and eco-friendly way of learning.
        </div>
      </div>
    </div>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quod ea velit ullam animi! Veniam delectus
    quibusdam temporibus eum exercitationem voluptatum, repellendus sint rerum quod quisquam, nulla quam doloribus
    praesentium, perferendis sequi iste ratione quae quidem corrupti deleniti. Distinctio libero minus id nulla quis
    temporibus omnis mollitia iste. Vitae libero quasi ducimus hic rem aut facere officia, doloribus harum earum dolorum
    omnis modi laboriosam nam? Corporis accusantium possimus, reiciendis quod expedita veritatis dolore debitis aliquid
    consequatur, provident blanditiis tempora voluptate vel sequi! Eos, quibusdam possimus debitis in similique eius
    blanditiis! Sapiente qui iure minima porro maxime, impedit ab libero quis, ratione a provident dolor veritatis,
    voluptas ipsam animi saepe possimus placeat. Corrupti unde ut consequuntur eum a, iusto voluptatibus cum tempora
    rerum
    saepe debitis atque voluptas animi magni ex similique? Aut debitis accusamus consequatur dolores. Similique modi
    fugiat esse id inventore earum doloribus natus porro, doloremque quae libero cupiditate nisi facilis blanditiis
    harum
    laudantium ratione voluptatibus maxime repellat expedita assumenda fuga quaerat. Quisquam aliquam dolor voluptate
    animi nobis suscipit nesciunt odit illo? Voluptatem quam, nobis, consectetur veritatis a modi est temporibus
    asperiores ratione ducimus nisi perferendis dicta iste provident inventore vitae? Culpa nesciunt tempora ipsum
    consequuntur natus voluptate rem, sint blanditiis officia, ducimus nemo dignissimos praesentium unde placeat quo
    obcaecati id ad, debitis quae quidem inventore laboriosam quam facilis numquam! Laudantium alias eveniet quia quo
    dolores dignissimos quisquam beatae, obcaecati ad maxime voluptatibus vel repellendus sit inventore delectus
    distinctio ab provident odit et. Accusantium, maiores neque, aut, labore ducimus quo architecto eligendi est
    voluptates at libero aspernatur? Nulla eius voluptatem, praesentium quo repellat doloremque iusto non iure possimus
    quas asperiores perspiciatis, sunt voluptatibus cumque vero molestias. Culpa impedit quas harum atque veniam
    cupiditate laudantium quis quibusdam! Neque sit maxime nesciunt consequuntur debitis exercitationem a repellendus,
    ipsam dignissimos minus necessitatibus ducimus perspiciatis eum harum esse optio, libero omnis aliquam cumque
    obcaecati illo sed expedita aliquid ea! Optio voluptate, minima eius laborum sit voluptatum aliquid suscipit
    laboriosam itaque alias modi tenetur provident nisi numquam cum delectus iste? Minus nobis illo eum perspiciatis
    blanditiis beatae quos aperiam fugiat in voluptate quam pariatur enim, non iure veritatis eos aliquam commodi
    assumenda! Totam, earum porro mollitia facere illo officia nesciunt impedit nobis ex fugit odit id reprehenderit
    quam
    quibusdam quo? Sed, ratione sequi voluptate praesentium harum commodi mollitia expedita esse eveniet velit veritatis
    in voluptates, repellat fugit rem vel illo quia. Numquam distinctio sed illum maxime officiis repudiandae ipsa
    reiciendis repellendus impedit, omnis laudantium, eligendi delectus provident nesciunt! Rem, natus. Harum soluta
    tempora veritatis ab alias? Aspernatur atque iste suscipit similique! A corporis laborum pariatur, dolor possimus
    autem unde earum eligendi. Animi dolores repellat aperiam cumque consectetur nostrum, architecto sunt repudiandae
    alias ipsa laboriosam excepturi. Consequuntur quis pariatur repellat quasi vel tempora quo mollitia fugiat iusto
    deserunt suscipit corporis fugit ipsum, aliquam, dolor laudantium excepturi cumque aspernatur. Reprehenderit minima,
    possimus explicabo tempore doloribus non nostrum ab ratione molestiae maxime obcaecati, autem voluptate neque, est
    odit. Laboriosam obcaecati optio incidunt eaque tenetur sapiente dolorum nam illum eligendi eveniet saepe cum
    quaerat
    deserunt placeat laborum officiis, sequi quod soluta tempora commodi debitis autem reiciendis. Non neque, fuga autem
    harum minus distinctio vero id. Veniam, quas dolorum suscipit quasi fuga dolorem tenetur ea repellat quod culpa,
    itaque cum eaque atque reiciendis vitae vel, aspernatur amet nulla eos ullam saepe. Quibusdam labore dolore totam
    alias magnam tempora nihil distinctio debitis nisi blanditiis maiores, ipsum, a possimus dolorem voluptates at
    numquam! Quibusdam consequuntur est, vero obcaecati itaque similique cupiditate deleniti magnam, culpa et in
    adipisci
    praesentium a nihil, labore explicabo placeat dicta illo pariatur ad hic. Reiciendis odio nulla beatae, non
    excepturi
    eaque cumque labore possimus iste delectus ullam asperiores quae, ea soluta culpa corporis consequuntur enim natus,
    vel nobis accusantium? Distinctio adipisci assumenda incidunt corporis omnis, cum voluptas quisquam illum tempora in
    quas sint ducimus, laudantium modi earum, vel debitis. Harum cupiditate dolores blanditiis facilis fugit explicabo
    quis atque hic quisquam iusto delectus natus obcaecati excepturi illo assumenda quos molestiae, dolorum repellat,
    culpa ad rem perferendis temporibus. Voluptate corrupti quisquam sint consequuntur, rem tempora doloremque
    perspiciatis blanditiis delectus, tempore et voluptatibus quod laborum nesciunt incidunt illo totam ea at iusto
    enim!
    Officiis iure eaque laudantium quidem voluptate, unde numquam voluptatum quis minima minus nobis ad eligendi sunt
    sit
    consequatur voluptatem quos nesciunt sint dolorem quisquam ipsum! Asperiores quas soluta placeat provident ducimus
    vel
    sed totam quo ullam praesentium rem, non magni fuga sint deleniti itaque ad assumenda alias nisi quos laboriosam
    amet
    molestias! Atque adipisci quo recusandae odio placeat, maxime sint vel ab veritatis? Eaque sapiente excepturi
    delectus
    ipsa officiis quasi nihil enim pariatur, quod similique dolor inventore vitae hic laborum incidunt debitis
    distinctio
    consequatur recusandae itaque doloribus facilis provident obcaecati? Consectetur accusantium ut explicabo placeat
    veniam esse id dolores inventore nesciunt distinctio maxime fugit accusamus recusandae ex rerum cupiditate
    temporibus,
    ducimus ratione eius aspernatur quas itaque? Hic exercitationem facilis fuga error? Fuga, nesciunt necessitatibus
    aspernatur hic quaerat rerum delectus eligendi earum ut recusandae, explicabo quibusdam. Saepe earum vitae illum
    veritatis voluptatem dicta tenetur dignissimos autem fugit omnis ipsam possimus, pariatur ut ducimus odit natus,
    error
    laborum unde assumenda iure recusandae perspiciatis impedit aliquid blanditiis. Ea eum inventore nam rerum adipisci
    pariatur, mollitia incidunt obcaecati corrupti earum laboriosam omnis porro, voluptatibus consequuntur dicta nulla.
    Necessitatibus ad laboriosam porro commodi! Tempora nisi quod dolores eveniet, ab rem iusto debitis aspernatur
    beatae
    ratione dignissimos expedita dolore eligendi exercitationem asperiores iure consequuntur in magnam, reiciendis atque
    optio. Reprehenderit quas fuga debitis fugit? Necessitatibus asperiores, numquam fuga nesciunt eum, optio recusandae
    sed laudantium excepturi inventore eos facilis tempora nostrum natus quis soluta quas, vitae magni fugiat iusto
    repellat reprehenderit sapiente in! Atque accusamus magni officiis aliquid mollitia sapiente odit excepturi fugiat
    quam, quaerat ea facere soluta reiciendis cumque labore, laboriosam deleniti rem minus sed voluptates consequuntur
    modi, pariatur possimus! Corporis doloribus quidem ex rerum. Laborum adipisci earum facere esse sapiente consectetur
    est nam dolores iste ducimus in, dolorem necessitatibus ut similique animi soluta molestias illo perspiciatis
    aperiam,
    deserunt harum beatae? Unde, consequuntur fuga.


  </section>


{% endblock %}
