{% extends "layout.html" %}

{% block content %}
<div class="row">
  {% for book in books %}
  <div class="col-md-4">
    <div class="card mb-4">
      <img src="{{ url_for('static', filename='uploads/' ~ book.image) }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p>Price: ₹{{ book.price }}</p>
        <a href="mailto:{{ book.seller.email }}" class="btn btn-outline-primary">Contact Seller</a>
      </div>
    </div>
  </div>
</div>

{% endfor %}


  <!-- <div class="container text-center mt-5">
    <div class="row p-1">

      <div class="col">

        <div class="card" style="width: 18rem;">
          <img src="../assets/children.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Book-Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-evenly">
              <a href="#" class="btn btn-primary">Like</a>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>

      </div>


      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../assets/children.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Book-Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-evenly">
              <a href="#" class="btn btn-primary">Like</a>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../assets/children.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Book-Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <div class="d-flex justify-content-evenly">
              <a href="#" class="btn btn-primary">Like</a>
              <a href="#" class="btn btn-primary">Buy</a>
            </div>
          </div>
        </div>
      </div>


    </div> -->

   
  

  {% endblock %}

 
  

<!-- 
 
  <script type="module" src="../js/buy.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html> -->